私 は たくさん 勉強 し ます から 、 とても 忙しい です 。
アニメ と ゲーム は とても 楽しく て 面白い 。
私 の 友だち は 、 私 が アニメ を 見 すぎる と 思っ て い ます 。
私 は 、 私 の 友だち が 、 正しい と 思い ます 。
今年 は 、 あまり アニメ を 見 たり 、 ゲイム を し たり し て いせ ん 。
来年 あ ね は シカゴ大学 の 大学院生 に なり ます 。
何 も し て い ない とき 、 花子 は よく 寝 て い ます 。
私 の 母 は アメリカ人 で がっ こう の 先生 です 。
タフツ 大学 で べんきょう し て い ます 。
私 の あ ね の せんこう は 生物学 です 。
ハーシー は ラブラドール 犬 です 。
私 の 家族 は 三 人 い て 、 あ ねが 一 人 い ます 。
あ ね は カリフォルニア は 天気 が いい から 、 カリフォルニア に 住む の が すき だ と 言っ て い ます 。
ねこ が い て 、 なまえ は モチ です 。
写真 に 七 人 の 家族 が うつっ て い ます 。
写真 の 左上 に 妹 の マギ が い ます 。
写真 の 右下 に 弟 が 二人 い ます 。
ナタヌ 君 は 医学生 で 、 ジャイ 君 は 文学 の 学生 です 。
いとこ の マニス も 文学 の 学生 です 。
カルシウム と 言い ます 。
写真 の 左 に 両親 が い ます 。
母 は ピアノ を ひい て 、 父 は 会計士 です 。
家族 の みんな は とても 優しく て 元気です。
アメリカ に 来 た 時 、 料理 を する の を 知り ませ ん でし た が 、 母 は 自分 で 習い まし た 。
兄 は 忙しい です 。
時々 、 一緒に コンピューター の ゲーム を し ます 。
私 は 趣味 が たくさん あり ます 。
忙しい です が 、 満足 し て い ます 。
例えば 、 病院 に たくさん 中国人 の 患者 が い ます 。
私 は 彼ら が 医者 の 言葉 が 分かる よう に なる の を 手伝い ます 。
自分 の 気持ち を 音楽 に する の は 、 素晴らしい 気持ち に なり ます よ 。
あの 学校 の 生徒 たち は あまり お金 が たくさん ありません から 、 先生 たち は 忙しく て 、 疲れ て い ます 。
たくさん 趣味 が あり ます が 、 それら は 全て 私 に 特別 な こと です 。
今 、 MIT の 学生 です から 、 あまり 趣味 が 有り ませ ん 。
よく 宿題 と 勉強 が あり ます から 、 趣味 を する 時間 が 有り ませ ん 。
週末 、 よく 友達 と ビデオゲーム を し て 、 たいてい 休み ます 。
今 、 市場 は 悪い です から 、 ちょっと 損 し た 。
子供 の 時 、 フルート と テナー ・ サクソフォン も 演奏 し まし た 。
よく 高校 と 家 の 間 の 公園 で 走り まし た 。
毎日 はやく 会社 に 行っ て 、 遅く 帰っ て 、 あまり 週末 休み ませ ん 。
私 は 二 十 一 歳 で 、 三 年生 で 、 MIT で 言語 学 と コンピュータ を 専攻 し て い ます 。
私 は 暇 は ありません が 、 毎週 家 に 電話 を かけ て い ます 。
リン さん は 、 MIT の よねん せい で 、 せんこう は コンピューター です 。
子ども の 時 、 リン さん は 中国 の 福州市 に すん で い まし た 。
十一 さい の 時 、 ニューヨーク に 行き まし た 。
とても ち ゅうごくのうたがじょうずで 、 日本 の うた も 知っ て い ます 。
私 の 家族 は 六 人 で 、 あ ねが 三 人 い ます 。
ジャキ さん は テクサス に すん で い て 、 ウエークフォレスト 大学院 で 、 癌 生物学 を べんきょう し て い ます 。
クリステイーナ さん は メアリー ランド に すん で 、 医者 として つとめ て い ます 。
母 と 父 は 学校 に 行き ませ ん でし た が 、 きょうだい は みんな 大学 か 大学院 で べんじょ うし て い ます 。
とても あ たま が いい です 。
姉達 は 、 みんな べんきょう する の が すき です 。
彼 は 若い 時 から 合気道 を 練習 し て い て 、 私 に 子供 の 時 から 教え て い ます 。
私 は 田舎 に いる 時 は よく 祖父 と 祖母 に 会い に 行き ます 。
でも 、 父 は 私 の アラビア語 の 勉強 を 手伝っ て くれ て い て 、 私 は すぐ に 祖父 と 祖母 と アラビア語 で 上手 に 話せる よう に なる と 言っ て い ます 。
父 の 食べもの は ときどき おいしい けど 、 母 の 食べもの は いつも とても おいしいい です 。
父 の 名前 は アルノルド です 。
母 の 名前 は マリア です 。
私 の 姉 の 名前 は ラウラ と ベアテイリズ です 。
ラウラ さん は 二 十 九 さい で 、 高校 の 先生 です 。
ラウラ さん は 結婚 し て い て 、 二人 の 子供 が い ます 。
ラウラ さん は ときどき 仕事 は むずかしい と 言っ て い まし た けど 、 私 は あ ね の 仕事 は やさしい と 思い ます 。
ベア テイ リズ さん は 大学 に 数学 を 勉強 し に 行き まし た 。
ベア テイ リズ さん は ちょっと しか 食べ ませ ん から 、 やせ て い ます 。
今年 八月 私 は うち に 帰り ます 。
私 は 家族 の みんな と 話し たり 、 て 母 の 食べもの 食べ たり し ます 。
この 九月 私 の ともだち は 私 に 囲碁 について 教え て くれ まし た 。
なつの 時 、 アーロン さん は アニメ を 見 て から うち はじめ まし た 。
アーロン さん は 、 囲碁 を うつ の が 上手 で 、 私 は 、 うつ の が 下手 です けど 、 よく 一緒に 囲碁 を うち ます 。
囲碁 は アメリカ で あまり 有名 じゃ ない です が 、 ボストン に たくさん 囲碁 が おもしろい と 思う 人 が い ます 。
囲碁 の サークル の メンバー は 、 みんな しんせつ で 、 私たち を てつだっ て くれ ます 。
ケンブリッジ 図書館 で うつ 一人 は 私たち の 先生 です 。
名前 は チョーさん です 。
韓国人 で 、 七 十 七 さい です 。
ときどき チョー 先生 の 家 に も 囲碁 を 勉強 し に 行き ます 。
たくさん うっ た 時 、 私 は いつも 囲碁 の こと を 考える し 、 ねる 時 も 囲碁 について 色々 考え ます 。
私 は 、 四 人 家族 です 。
とても しずか で から 、 子ども の 時 、 あまり 話し ませ ん でし た 。
今 、 時々 話し ます 。
私 の 両親 は 、 カリフォルニア に 住ん で い ます 。
母 は 、 小学校 の 先生 でし た が 今 、 主婦 です 。
父 は 、 家族 の 会社 の 社長 です 。
来年 の 十月 、 私 は 結婚 し ます 。
閭里 が 上手 で 、 アジア の 食べもの が 好き です 。
この ねこ も 、 私 の かずく だ と 思っ て い ます 。
でも 休み の 時 、 父 は 時々 私 に ゴルフ を 教え て くれ ます 。
母 の チキンスープ は おいしい です 。
今 、 高校 の 三 年生 です から 、 大学 の テスト を 勉強 し て い て 、 忙しい です 。
来年 、 有名 な 大学 に 絶対 に 入る と 言っ て い ます 。
オープンハウス は 、 大学院 の 先生 が 将来 の 学生 に 学校 を 紹介 する イベント です 。
私 は オープンハウス で 大学院 の 先生 達 に 会っ て 、 勉強 と 研究 について 話し ます 。
まず 、 三月十二日 に ボストン から サンフランシスコ まで 飛行機 で 行っ て 、 空港 から 電車 に 乗っ て 、 スタンフォード 大学 へ 行き ます 。
次 は 、 三月十四日 に バス で 近く の バークレー 大学 へ 行っ て 、 二 日間 そちら に 滞在 し ます 。
週末 は ボストン へ 飛行機 で 帰っ て 来 て 、 ちょっと 休ん で 、 日曜日 に ロスアンジェルス の カルテック へ 行き ます 。
春休み に 私 は 友達 と マイアミ の 海へ 遊び に 行き ます 。
高校 三 年 の 夏 、 私 は ダンス を 始め まし た 。
今 、 MIT の ADT を し て い ます 。
ADT で 、 たくさん 友達 に 会い まし た 。
毎週 金曜日 に 、 二 時間 練習 が あり ます 。
だから 、 毎週 七 時間 ぐらい ダンス を し ます 。
家族 は 九 人 い て 、 ぎり の 兄弟 が 四 人 い て 、 弟 が 一人 い ます 。
子ども の 時 、 毎週 、 週末 は 、 私 とぎりの 弟 は 外 で あそび まし た 。
焚き火 を する の が すき でし た 。
今 義理 の 兄弟 は オハイオ州 に 住ん で い ませ ん から 、 あまり 会い ませ ん 。
今 、 義理 の 母 と 義理 の 父 は 仕事 が あり ませ ん 。
毎週 、 日曜日 に か ぞ くに 電話 し ます 。
父 と 義理 の 母 は い ぬ と 毎日 さんぽ する の が 好き です 。
父 と 母 は フォリダ の マイアミ に 住ん で い ます 。
マイアミ は すごく あつい です 。
父 は UnitedAirlines に つとめ て い ます 。
母 は 銀行 に つとめ て い まし た が 、 今 は 主婦 です 。
大学 の 時 、 専攻 は 経済 でし た から 、 今 は ヘジファンド に つとめ て い ます 。
ニューヨーク に 住ん で い ます 。
兄 は いそがしい です から 、 ちょっと 太っ て い ます 。
私 の しゅみ は アニメ を 見 て 、 マンガ を 読ん で 、 おんがく を 聞い て 、 ゲーム を する こと です 。
高校 の 時 、 たくさん 、 友だち が い まし た 。
でも 、 子ども の 時 、 友だち が い ませ ん でし た 。
私 は さびしかっ た から 、 家で たくさん アニメ を 見 はじめ まし た 。
先週 の 金曜日 七 時 ごろ 私 は アニメ を ともだち と 一緒 に 見 まし た 。
私 は よく アニメ を 見 ます が 、 時々 マンガ も 読み ます 。
火曜日 と 木曜日 の 午後 、 私 は たいてい アニメ 図書館 へ マンガ を 読み に 行き ます 。
おととし 私 の 友だち の ケーティ さん は 、 マンガ が すき だ と 言っ て い まし た 。
それから 、 ケーティ さん と 私 は いっしょ に マンガ を 読み はじ まし た 。
週末 、 私 は テレビ を 見 て 、 ゲーム を し ます 。
あまり 宿題 が あり ませ ん から 。
クラス を 行く 時 、 毎日 私 は 音楽 を 聞き ます 。
私 は 日本語 の 音楽 を 聞く の が すき です けど 、 たいてい 英語 の 音楽 を 聞き ます 。
私 は MIT の 二年生 の 学生 で 、 し ゅくだいとしけんがたくさんありますから 、 あまり ひま で は あり ませ ん 。
でも 、 毎日 家 から 学校 まで 歩い て 来る 時 、 音楽 を いつも 聞き ます 。
それから 、 ときどき 時間 が あっ た 時 、 家で ギター を ひき ます 。
ロック と ヘビーメタル おんがく は とても おもしろく て 、 すごく たのしい と 思い ます し 、 聞く の は いい です けど 、 メタル の 歌 を 歌う の は むずかしい です が 、 私 は この 音楽 が 大好き です 。
日本 の 音楽 です から 、 新しい 単語 や 文法 を 勉強 する の に は 、 いい です 。
時々 ともだち と 寮 で ひき ます 。
今美 幸 は 九 さい で 、 私 の 三 ばん 目 の 妹 です 。
美幸 は 今 両親 と ケンブリッジ に すん で い て 、 モールス 学校 の 二 年生 です 。
美幸 は おどり と ソフトボール が 大好き です 。
美幸 と バービー と 遊ぶ 。
母 の 仕事 は 年寄り の デイケア です 。
毎朝 午前7時 に 年上 の 人 の 家 へ 行っ て 、 家 を そう じし て 、 食べ物 を 作り ます 。
父 の 仕事 は 家 の 近く の レストラン の シェフ です 。
専攻 は グラフィックデザイン です 。
妹 は アート が とても 上手 で 、 よく いい 成績 を とり ます 。
ひま な 時 、 妹 は 友達 と 話して 、 アニメ と アメリカ の 映画 を 見 て 、 ちょっと ゲーム を し ます 。
私 は 21歳 で 、 MIT の 三 年生 で 、 専攻 は コンピューター です 。
ひま な 時 は 、 友達 と 話し たり 、 ボストン の レストラン へ 食べ に 行っ たり 、 ダンス を し たり し ます 。
私 は 妹 と 兄 が い ます 。
兄 は 大学生 で 、 コンピューターサイエンス を 勉強 し て い ます 。
料理 を する の が 好き です 。
冬休み に 母 が つくっ て くれ た 料理 を たくさん 食べ まし た 。
冬休み はか ぞ くに 会い まし た から 、 たのしかっ た です 。
今年 の なつ 、 カリフォルニア へ か ぞ くに 会い に 行き ます 。
私 の か ぞ く は 小さい です が 、 みんな しんせつ です 。
家族 が 四 人 い ます 。
私 と 父 と 母 と 弟 が い ます 。
か がく の 会社 に つとめ て い ます 。
弟 の 名前 は イバン です 。
弟 は スポーツ が 大好き です 。
毎 ばん 、 イバン は うんどう し たり 、 ランニング の サークル を し たり し ます 。
そして 、 しゅくだい を し た 後 で 、 コンピュータゲーム を よく し ます 。
弟 は とても あ たま が よく て 、 いそがしい と 思い ます 。
驚く べき こと に 、 最近 、 兄 は また ‘ 遊戯王 ’ という トランプ ゲーム を 始め まし た 。
兄 も 大学生 の 時 に 、 日本語 を 勉強 し まし た けど 、 もうし て い ませ ん 。
大学 の 時 日本語 を 勉強 し まし た から 、 日本語 も ちょっと わかり ます 。
母 は 今 主婦 です が 、 私 の 高校 の 時 は 、 会社員 でし た 。
祖父 と 祖母 は 韓国人 です けど 、 母 は いつも アメリカ に 住ん で い まし た から 、 韓国語 が わかり ませ ん 。
今 、 オハイオ の トリド に 住ん で い て 、 医学部 の 学生 です 。
父 と 母 は ノートルダム 大学 に 行っ た から 、 とても いい です 。
せんこう は コンピューター で 、 来年 私 は カリフォルニア に 行き ます 。
それから 、 高校 の 時 、 日本 の 食べ物 が 大好き でし た から 、 ニューヨーク の 日本 の レストラン に よく 行き まし た 。
大学 の 一年生 の 時 、 たくさん 日本語 の 歌 を 聞き まし た 。
例えば 、 私 の 大好き な 歌 は 中島美嘉 さん の 「 雪の華 」 という 歌 で 、 よく 聞き ます 。
日本語 は おもしろかっ た と 思い まし た が 、 忙しかっ た です から 、 日本語 を 勉強 し ませ ん でし た 。
私 の 妹 の 名前 は ソーニャー です 。
高校生 の 三 年生 で 、 生物学 と 脳 認知科学 が すき です 。
妹 は およぐ の が 大好き で 、 じょうず です 。
夏 に 、 よく およぎ ます 。
そして すごく 冷たい 水 で およぎ ます よ 。
うみ へ およぎ に 来 ませ ん か 。
動物 が だいすき だ から 、 ペット が い ます 。
私 は いもうと と いっしょ に いる 時 、 時々 あまり しんせつ じゃ ない けど 、 ソーニャー は 私 の すき な ともだち です 。
私 の 家族 は 五 人 で 、 中国人 で 、 父 と 母 と 姉 と 妹 が い ます 。
父 は 五 十 歳 で 、 せ が たかく も ない し 、 ひくく も ない です 。
家 を そう じし たり 、 新聞 を 読ん だり し て い ます 。
あ ね は 二 十 四 歳 で 、 ヘルスケア の 会社 に つとめ て い ます 。
休み の 時 、 私 と きょうだい は 家で トランプ ゲーム で 遊ん だり 、 テレビ と え いが を 見 たり する の が 大好き です 。
ときどき 私 の 家族 は ハイキング を し たり 、 テニス を し たり し ます 。
私 は MIT の 学生 です から 、 よく ストレス で 食べ ます 。
アニメ が とても すき です 。
おとうと は コロラド に 住ん で い て 、 コロラド 大学 の 学生 です 。
一年生 で 、 せんこう は まだ 分かり ませ ん 。
おとうと はいそ が し です から 、 あまり 電話 が かけ られ ませ ん 。
そこで 家族 に 会っ て 、 色々 話し たろ 、 あそん だり し ます 。
私 は 家族 と 会う の が 楽しみ です 。
私 の 家族 は 四 人 です 。
父 は コンピューターソフト ウェア の エンジニア です 。
二 十ねん まえ 、 父 は コンピューター の 会社 に つとめる ため に アメリカ に き まし た 。
父 と 母 は インド人 です 。
兄弟 が 一人 い ます 。
妹 は 十一 さい です 。
母 は 絵 を 描く の が じょうず です 。
今日 は 、 私 の 寮 の こと について 紹介 し ます 。
四年生 が 五 人 と 三 年生 が 六 人 と 二年生 が 十 二人 と 一年生 が 六 人 い ます 。
ここ で たばこ を すっ て も いい です 。
それから 、 可愛い 猫 が 五 匹 い ます 。
ここ に たくさん メキシコ人 が い て 、 たくさん 物理学 の 学生 も い ます 。
みんな 、 あ たま が よく て 、 すごく やさしく て 、 親切 です ね 。
こども の 時 、 私 は たくさん スポーツ を し まし た 。
それから ビデオゲーム を する の が すき でし た 。
高校 の 時 、 あまり うんどう し ませ ん でし た 。
私 の 高校 は クリケット サークル と テーブル テニス サークル が あり ませ ん でし た から 。
アニメ を たくさん 見 て 、 ゲーム を し まし た 。
今 大学 に 行っ て い て 、 私 は とても 忙しい です から 、 あまり しゅみ が あり ませ ん 。
ときどき ボストン に さんぽ し に 行き ます 。
私 の あ ね は 二 十 一 さい で 、 名前 は サフワ です 。
あ ね は 大学生 で 、 トルコ の 大学 で 勉強 し て い ます 。
なまえ は アシム です けど 、 高校生 です 。
私 は もう 一人 おとうと が い ます 。
四 さい です けど 、 なまえ は アルハサン です 。
私 の 父 は エンジニア です 。
母 は し ゅふ です 。
一人 目 の おとうと の なまえ は マイケル で 、 十七 さい です 。
マイケル は 高校 の 四 年生 です 。
アイスホッケー を する の が じょうず です 。
二人 目 の おとうと の なまえ は アレックス です 。
九 さい で 、 五年生 です 。
ラクロス を する の が だいすき です 。
おととし 私 は MIT の 寮 でし ん ゆうに 出会い まし た 。
しん ゆうの 名前 は 、 パ ティー 二 ョ さん です 。
パティーニョ さん は かっこよく て あ たま が よく て 、 MIT の 学生 です 。
MIT で コンピューターサインス と 政治 と 日本語 を べんきょう し て い ます から 、 たいてい あまり ひま じゃ ない です 。
でも 、 ひま な 時 は パン を 作る の が すき です 。
私 も りょうり する の が 大すき です から 、 ときどき パティーニョ さん と 料理 し ます 。
去年 の かんし ゃさいの 時 、 パティーニョ さん と いっしょ に カナダ に 行き まし た 。
モントリオール で みんな フランス語 を はなし まし た から 、 私 は 何 も わかり ませ ん でし た 。
今年 、 パティーニョ さん と いっしょ に コロンビア に 行き ます 。
暇 な 時 、 たくさん コロンビア と 韓国 と 日本 の 食べ物 を 作る の が 大好き です 。
パン を 作る の は ちょっと 難しい です けど 、 とても 楽しく て 、 やりがい が ある 。
それから 、 毎週 私 の 寮 の 友達 の ため に 料理 し て 、 一緒 に 食べ ます 。
ストレス が ある時 、 よく インターネット の クッキング ビデオ を 見 ます 。
父 は サッカー選手   でし た から 、 子供 の 時 から 今 まで ずっと 、 よく サッカー を し て い ます 。
私 の 好き な サッカーチーム は 私 の 出身地 の チーム の 『 ColumbusCrew 』 です 。
私 の 大好き な アニメ は 「 ドラゴンボール 」 です 。
子供 の ころ から 、 テレビ を 見 まし た 。
小さい 時 、 悟飯 は 悟空 より も 強かっ た です が 、 今 は たくさん 勉強 し て い て 、 ぜんぜん 強く あり ませ ん 。
悟空 は いつも 、 「 もっと強く なり たい 」 と 言っ て い ます 。
二 年 前 に 新しい ドラゴンボール の アニメ が はじまり まし た 。
私 の 家族 は 五 人 で 、 兄 が 二人 い ます 。
ディンゼル さん は 二 十 一 才 で 、 カンザス 大学生 の 二 年生 です 。
母 は 小学校 の 先生 で 、 五十 一 才 です 。
父 も 五 十 一 才 で 、 IRS に つとめ て い ます 。
父 は バーベキユー を 作る の が じょうず です けど 、 母 はり ょうりをするのがじょうずじゃないです 。
去年 、 ディンゼル さん は 中国 に 行き まし た 。
中国 の 大学 で 八月 から 一月 まで べんきょう し まし た 。
毎日 いつも 食べもの を 料理 し て 、 うち を 掃除 し たり 、 洗濯 し たり し ます から 。
去年 の 夏 に 彼 と 家 を 買い まし た 。
それから 犬 を アダプト し て 、 犬 の 名前 は デクスター です 。
デクスター は 姉 の 子ども だ と おもい ます よ 。
だから 父 は デクスター の おじいさん で 、 その 犬 が 大好き です 。
毎朝 早く 起き て 、 それから 仕事 は 大変 です 。
私 は おんがく を 聞い たり 、 おんがく を 作っ たり する の が すき です 。
八 才 の 時 、 ピアノ を ひき はじめ まし た 。
今 、 電子ピアノ が 私 の へや に あり ます から 、 毎日 ピアノ を ひき ます 。
MIT で おんがく りろん を べんきょう し て い ます 。
よく クラシック おんがく を ピアノ で ひき ます 。
でも 、 たいてい ロック おんがく を 聞き ます 。
ボストン交響楽団 の コンサート に 行く の が すき です 。
音楽 は きれい で 、 たのしい と 思い ます 。
あ ね の ご 主人 は アメリカ人 です けど 、 メキシコ の 食べもの を 食べる の が だいすき です 。
父 は ちょっと せ が ひくく て 、 仕事 は 大工 です 。
あまり お さけ を 飲ま ない けど 、 時々 ビール を 飲み ます 。
母 もち ょっとせがひくくて 、 とても しんせつ で 、 し ゅふ です 。
いもうと は 十六 さい で 、 高校 の がく せい です 。
いもうと は いぬ が 二 匹 い て 、 あひる が 一 匹 い ます 。
あ ね は とりが 二 ひきい て 、 いぬ が 一 ぴき い て 、 にわとり が 四 ひきい ます 。
大学 の 一年生 の 時 に 、 友達 は 私 を MIT の 麻雀 の サークル に 連れ て き て くれ まし た 。
それから 、 私 は 麻雀 を 習っ て 、 麻雀 の サークル に 入っ て い ます 。
今 、 私 は 毎週 土曜日 に シモンス に 麻雀 を し に 行き ます 。
父 と 母 は ソフトウェア の エンジニア で 、 母 は NY に つとめ て い て 、 父 は NJ に つとめ て い ます 。
私 の おや は インド で うまれ まし た けど 、 私 と リシ は アメリカ で うまれ まし た 。
でも 、 インド に あまり 行き ませ ん から 、 インド に すん で いる か ぞ くに あまり あい ませ ん 。
よく カードゲーム と ボードゲーム を し ます 。
たとえば 、 リシ は モノポリ を する の が 大好き で 、 とても じょうず です 。
父 は うたう の が じょうず です 。
父 は 以前 コンピュータ の 会社 に つとめ て い まし た けど 、 今 、 家で コンピュータ の ゲーム を 作っ て い ます 。
母 は 大学 の 後 、 会社員 でし た けど 、 今 何 も 仕事 を し て い ませ ん 。
料理 する の が すき です が 、 そう じする の が すき じゃ ない です 。
でも 、 父 は ペット が きらい です から 、 いぬ も ねこ も い ませ ん 。
おとうと が 一人 い ます 。
コンピュータ の ゲーム は おもしろく て 、 たのしい と 思い ます から 、 いつも ゲーム を し て い ます 。
りょう に すん で い ます から 、 へや は しずか じゃなくて 、 とても うるさい です 。
それから 、 毎日 友だち と いっしょ にしょく どう へ 晩 ごはん を 食べ に 行っ て い ます 。
任天堂 の ゲーム を する の が 大すき です 。
キム さん は 、 １ ０ 年 前 、 MIT を 卒業 し まし た 。
キム さん は 、 とても あ たま が いい と 思い ます 。
けっこん し て い ませ ん が 、 ガールフレンド が い ます 。
とても きれいな 人 です 。
今 、 ボストン大学 で おしえ て い ます 。
毎日 とても いそがしい と 言っ て い まし た 。
でも 、 仕事 は とても おもしろい と 言っ て い まし た 。
私 は たくさん の 趣味 が あり ます 。
サークル に 23人 い ます 。
とても 楽しく て 、 おもしろい です が 、 たいへん です 。
今 、 ２ １ か国 に 行き まし た 。
去年 の 夏 、 友だち と いっしょ に タイ に 行き まし た 。
ハイキング を し て 、 たくさん 食べもの を 食べ て 、 ちょっと お さけ を 飲み まし た 。
エリーゼ さん は 高校生 で 、 おもしろ い人 です 。
先週 、 か ぞ く は MIT に 私 に 会い に き まし た 。
私 の マサチューセッツ工科大学 で の 学生 生活 は とても シンプル です 。
この 生活 は ちょっと 大変 です けど 、 嫌い じゃ ない と 思い ます 。
これ は 私 の シンプル な 日常生活 です 。
大学生 です から 、 よく べんきょう し て いる し 、 あまり ひま じゃ ない です 。
次に 、 ジョギング を する の 好き です 。
一日 おき に チャールズ 川 の となり で ジョギング を し ます 。
さい ご に 、 おどる の が 好き です 。
MITAsianDanceTeam の サークル に 入っ て い ます 。
去年 、 私 は ２ ０ ２ ０ 年 の 東京 の オリンピック を 見 に 行く と 思い まし た から 、 MIT で 日本語 の 勉強 を 始め まし た 。
相川 先生 は 日本人 で 、 MIT で 言語学 の 研究 し て い ます から 、 私 の 日本語 の クラス の 先生 に なり まし た 。
先生 は 教える の が 上手 で 、 クラス も とても 面白い です から 、 とても 人気 が あり ます 。
日本語 の クラス に は 、 たくさん 学生 が い まし た が 、 先生 は 早く みんな の 名前 を 覚え て 、 凄かっ た です 。
今 は 大学 の 四 年生 です から 、 とても いそがしい です 。
暇 な 時 、 ペン さん は たくさん 本 を 読み ます 。
それに 、 彼 は アイススケート と サッカー を し ます 。
アイススケート を する の は 難しい と 思い ます 。
羽生 さん は 今年 の Olympics で 金メダル を とり まし た 。
父 は 大学 に つとめ て い て 、 電気工学 を おしえ て い ます 。
下 の おにいさん は けっこん し て い ませ ん けど 、 ベトナム人 の 彼女 が い ます 。
父 は せ が たかく て ちょっと ふとっ て い ます けど 、 毎日 うんどう し て い ます 。
母 は せ が ひくく て 、 ドラマ を 見る の が 大好き です 。
下 の お 兄さん は やせ て い て 、 おもしろく て あ たま が いい です 。
上 の お 兄さん も あ たま が いい し 、 しんせつ な ひと です けど 、 ちょっと ふとっ て い ます 。
アイススケート は とても 楽しく て 、 綺麗 な スボーツ だ と 思い ます 。
私 は まだ アイススケート を する の が 上手 じゃ あり ませ ん 。
でも 、 二 ヶ月 前 に アイススケート の 靴 は 買い まし た から 。
よく 週末 に 友達 と センター へ アイスケート を し に 行き ます 。
アイススケート を 見る の も 大好き です 。
先月 、 冬 の オリンピック が あり まし た 。
羽生結弦 は 私のお気に入り の スケーター です 。
羽生 さん は いい スケーター で 、 可愛い 男の子 だ と 思い ます 。
おんな の ひと です 。
高校 の 時 に れきし の クラス で あい まし た 。
クラス で ユスラ さん は 私 の 近く に すわっ て い まし た 。
この 時 から 今 まで 、 ずっと ともだち です 。
いつも クラス で いしょ に てがみ を かき まし た から 、 先生 は 私 と ユスラ が すき じゃ なかっ た です 。
ユスラ さん の かみ は ながく て 、 め が きれい で 、 せ が ひくい です 。
大学 に 入っ て から 、 全然 ユスラ さん と は なし て い ませ ん 。
てがみ を 書き たい 。
ユスラ さん の たん じょ び は 二月二十八日 です 。
父 は 目 が 大きく て 、 髪 が 短い です 。
父 は 去年 まで 造船 会社 に 勤め て い まし た けど 、 今 は 何 も し て い ませ ん 。
私 は 子供 の 時 、 父 は いつも 私 と 遊び んで くれ まし た から 、 父 は たのしい 人 だ と 思い まし た 。
でも 、 今 母 は 親切 で 、 たのし い人 だ と 思い ます 。
私 は 子供 の 時 、 祖父 は よく 私 に 物語 を 話し て くれ まし た 。
私 は あまり 家族 に 会い ませ ん けど 、 家族 の みんな が 大好き です 。
