__pycache__/
deprecated/
data/datasets/
data/databases/
data/languages/
data/model_output/
data/sorted_tag_databases/
data/source_corpora/
data/synthesized/
data/test_corpora/
data/tmp/
models/
config.yml
src/config.py


