__pycache__/
comparison/
corpus/
filtered/
generated_text/
input/
input_sourced/
languages/
lm/
mert-work/
model/
output/
raw_data/
raw_input/
raw_output/
scrape/
scrape_src/
smt/
src/deprecated/
temp/

