でも 夢の中 だ から か 、 生身 の 自分 より 冷静 で い られる 。
駅番号 は 両 路線 個別 で 与え られ 、 多摩湖線 は ST 04 、 拝島線 は SS 30 と なる 。
申訳ない が 今日 は 多忙 で 行け ない から 、 明日 は 必ず 行く と 工員 が 答え た の で ある 。
この 眼鏡 おばさん が 何故 だ が ちょっと 邪魔 で 行け なかっ た ん だ 。
わたくし が 冷静 で い られる うち に ここ を 出 なさい ！
投 弾 位置 で 先発 命中 弾 の 衝撃 を 受け て 無事 で い られる か 。
汽車 は 線路 の 曲がり かど で 見え なく なっ た 。
日本 空母 が まだ 健在 で い られる の は 、 彼ら が 兵力 を 集中 せ ず に ばらばら に やって来 て いる から で ある 。
その 炎 の 地獄 の 中 、 そんなに 気楽 で い られる 事 こそ が 、 上条 に は 恐ろしかっ た 。
あれ は すべて にわたって 大げさ で いけ ない の です 。
ウォルポール は ホイッグ の 所属 で あり 、 初期 の 近代 的 な イギリス議会 は ホイッグ 優勢 で 進め られ た 。
しかし 、 彼 に し て みれ ば 何 も 手品 が 見せ たく て 、 好き で やっ て いる の で は ない 。
手紙 を 出して も 、 居所 不明 で 戻っ て くる 。
つまり 束縛 度 の 少ない 、 どちら か と いえ ば 〝 自堕落 な 女 〟 が 〝 好き で やっ てる 〟 職業 という イメージ で ある 。
時間 を かけれ ば 、 すぐれ た ものの よ さ は 解説 不要 で 伝わっ て くる 。
病気 を し た こと の ない 者 に は 、 たっしゃ で 無事 で いる こと の 有難味 が わから ない 。
私 が この 問題 について は 至極 気楽 で いる 事 は 確か です 。
畢竟 人 が 孤独 で 居る の は 、 周囲 に 自分 の 理解者 が 無い から で ある 。
さくさく し た 食感 で ジューシー で 酸っぱく 、 生 で 食べる の に も 調理 用 に も 適し て いる 。
そこで 私 は 二階 に 膳 を 運ん で 錠 を おろし 、 孤独 で 食べる 。
だって 、 もし 遭っ てれ ば 、 無事 で いる 可能性 は 、 あんまり ない でしょ う から ね 。
ハガキ で 例 の 如く わかる の は それだけ です 、 それから 丈夫 で いる 、 という こと と 。
総理 が 無事 で 現われる まで に 、 どこ まで 突っ走っ て いる か だ 。
関ヶ原の戦い の 頃 に 、 いまだ 、 洛北 の 小 庵 に 、 健在 で いる と 噂 に きい た 。
丈夫 で いる ん だ ぞ 、 おい 、 お前 も もう 点呼 だろ う 、 すぐ 帰ら なく て は いか ん 。
あなた は そんなに のんき で おら れる なら 、 魚 は 腐る に 違い あり ませ ん 。
残念 で なら なかっ た 。
色男 の 先生 さま は 、 ご 健在 で あら れ まし た か 。
その後 市川 を 三 回 も 通り ながら たずね なかっ た は 、 今更 残念 で なら ぬ 。
僕 と し て も ふだん の 習慣 を 破る の は いや で なら ない が 、 情勢 が そんな こと を 許さ ない の だ 。
そして これ も 喜び ながら 不安 で なら なく 思う しゅうと 夫婦 とともに 妊婦 の 加護 を 神仏 へ 祈る こと に つとめ て い た 。
くやしく て 、 残念 で なら ねえ の です 。
おれ だって 、 この 食欲 が 変 で なら ない ん だ 。
私たち と 実 の 両親 の 間 に 挟ま れ て 、 気 を 揉ん で いる 彼 が かわいそう で なら なかっ た 。
そして どう 自由 を 奪っ て み て も 延福寺 に 呼吸 し て いる 一個 の 骨肉 が 何とも 不気味 で なら なかっ た 。
ああ 今 に し て 花火 線香 の 玉 を 消し た こと は 返す返す も 残念 で なら ない 。
小谷 先生 は 鉄 三 が かわいそう で なら なかっ た 。
酷 ひどく 腹 が 痛ん で 、 私 の 帰っ た の が 夢中 で 分ら なかっ た から 、 うっかり し た 折 から だ そう で 。
そんな 男 を 相手 に 碁 を 打つ 三浦 老人 の 身 が 、 不安 で なら ない 。
この き やし や な 体 の どこ に あれだけ の 理性 と 信念 が 宿っ て いる の か 不思議 で なら ない 。
水星 の 厳格 で 拘束 の 多い 雰囲気 の 中 で 育て られ て 、 いつも それ が いや で なら なかっ た わ 。
そして 今日 の 酒 は 強 ひ て も 愉快 で あら ね ば なら ぬ 。
ヘンリ が 毎日 毎日 、 此 の ゆううつ な 夕方 の 勉学 に 、 どうして 堪え られる か 、 不思議 で なら ぬ 。
思いやる たび に 残念 で なら ない し 、 長女 豊姫 は 、 まして 煕子 が 、 輿入れ し て まもなく 十九 で 生ん だ はつご で ある 。
この 村長 さん は 今 七 十 幾つ に なっ て 丈夫 で おら れる 。
顔 を 合 は し たり 、 一寸 で も 言葉 を 交す の が 厭 で なら なかつ た 。
また 、 果物 の よう な 香り を つける ため に 着色料 ・ 香料 を 添加 し た もの が 安価 で 売ら れ て いる 。
かつて 描か れ し もの と 異なる こと へ の 不安 で あら しめ て は なら ない 。
それだけ ジャーナリズム の 資本主義 による 歪曲 は 、 アカデミズム の それ に 較べ て 深刻 で あら ざる を 得 ない 。
それ は 、 小さい とき から 不審 で なら ず 、 口 に し て は 笑わ れ た 。
苦しん で いる の が 不思議 で なら ない 様子 だ 。
ドノバン は 、 新しい 大統領 の 命令 に 従う こと が いや で なら なかっ た 。
僕 は それ が 不思議 で なら なかっ た 。
只 これ で 当分 海 へ 出 られ ない と 思う と それ が 残念 で なら なかっ た 。
一体 おと よさ ん が あの 清六 の 所 に いる の が 不思議 で なら ない よ 。
あたし たち は 、 王妃 さま が 、 いつまでも お達 者 で 、 お 元気 で 居ら れる よう に 祈っ て い ます 。
それ は 丁度 、 相撲 狂 が 勝負 を 夢中 で 見 て ゐる 時 と 同じ 様子 で ある 。
お 艶 は 無事 で い て くれ た ！
いらいら し て 、 いまにも 爆発 し そう に なる の を 、 タルサン は 必死 で こらえ て い た 。
僕 さえ 丈夫 で 生き て い たら 。
そう すれ ば ただ うっかり 無意味 で 入れ た の で は ない 。
リュカ は はいつくばっ た まま 、 焼け た だれ た まぶた の 隙間 から 、 必死 で 見 た 。
必死 で 耐え た つもり だっ た が 簡単 に 悟ら れ た 。
世界中 の 人間 が みんな 一人 残らず 幸福 で 生まれ た こと を 喜べ ば それで 政治 は いい の だ と 思い ます 。
あふれ そう に なる 涙 を 必死 で こらえ て い た 。
至極 簡単 で い て 、 素人 作 と は 思え ぬ 気 の 利い た 美味 料理 で ある 。
健全 で い たい し 、 きれい で い たい 。
薫 が 必死 で 呼びかけ 、 とっさ に せきどうさい の 方 を 振り返っ た 。
ケンちゃん は 体育座り を し た まま 、 必死 で 唱え ます 。
元気 で ゐ ます か ？
ザフ は 、 それ を 涼しい顔 で 受け流す と 、 何 か を 必死 で 堪え て いる センテ に 向かっ て 言っ た 。
十 時 起き 、 JOBK へ 上山雅輔 作 モダン 小話 の 放送 で ある 、 テスト が こっち は 簡単 で い ゝ 。
戦前 に 日本人 が 独自 で 建て た 宗教 建築物 は 壊さ れ た か 、 他 の 用途 に 転用 さ れ て いる 。
音楽 は 速い テンポ で 高らか に 心 の 中 で 鳴り ひびき 、 ミック は わが家 へ の 道 を 夢中 で 駆け て い た 。
なんだか 冒険 者 として やっ て く 自信 ガラガラ くずれる し で 、 なみ だ を 必死 で こらえ て た ん だ 。
接木 の 方 が 根 張り が 良好 で 倒れ にくい ので 、 挿し木 苗 が 好ま れる こと も ある 。
暴れる 手足 を 必死 で 押さえ ながら 、 タキ は 絶叫 し た 。
場内 から 、 女性客 達 の 悲鳴 も 盛大 に わき起こり 、 騎士 達 が 必死 で 押さえ て いる 。
うるさい ほど に 鳴る 心臓 に 、 必死 で たえ た 。
さらに 、 今にも 涙 が あふれ そう に なる の を 必死 で こらえ た 。
二絃琴 の 調子 は 、 糸 が たった に ほん だ から 単純 で い て 、 その くせ 複雑 だ 。
丈夫 で い て くれ と 思い ます 。
老人 は 新しく 入手 し た 宝物 を 、 夢中 で 眺め て おら れ ます 。
サエコ に 手 すら 貸さ ない の が 不服 だっ た が 、 サエコ も 必死 で 追いかけ た 。
小僧 は やっぱり 夢中 で い た 。
元気 で い なさい ね 。
勇敢 で すぐれ た 騎士 です 。
